.version.index /* version checker */
{
	color: #0000EC;
	background-color: #5AB844;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 480px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

#u75
{
	z-index: 2;
	width: 128px;
	margin-right: -10000px;
}

#ppu81-3
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 128px;
}

#pu81-3
{
	width: 0.01px;
}

#u81-3
{
	z-index: 4;
	width: 5px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 75px;
}

#u83-6
{
	z-index: 7;
	width: 139px;
	min-height: 42px;
	margin-right: -10000px;
}

#menuu84
{
	z-index: 13;
	width: 246px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 139px;
}

#u85
{
	width: 80px;
	min-height: 34px;
	margin-right: -10000px;
}

#u86
{
	width: 80px;
	padding-bottom: 17px;
}

#u86:hover
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u86:active
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u86.MuseMenuActive
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u88-4
{
	width: 80px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u86:hover #u88-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u86:active #u88-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u86.MuseMenuActive #u88-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u164
{
	width: 81px;
	min-height: 34px;
	margin-right: -10000px;
	left: 82px;
}

#u167
{
	width: 81px;
	padding-bottom: 17px;
}

#u167:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u167:active
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u169-4
{
	width: 81px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u167:hover #u169-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u167:active #u169-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u150
{
	width: 81px;
	min-height: 34px;
	margin-right: -10000px;
	left: 165px;
}

#u153
{
	width: 81px;
	padding-bottom: 17px;
}

#u167.MuseMenuActive,#u153:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u153:active
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u153.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u155-4
{
	width: 81px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u167.MuseMenuActive #u169-4,#u153:hover #u155-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u153:active #u155-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u153.MuseMenuActive #u155-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#pu100-34
{
	width: 0.01px;
	margin-left: 1px;
}

#u100-34
{
	z-index: 41;
	width: 811px;
	min-height: 207px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u100-2
{
	font-weight: bold;
}

#u100-4,#u100-6
{
	font-size: 17px;
	text-align: center;
	line-height: 20px;
}

#u100-25,#u100-27
{
	text-align: center;
	font-style: italic;
}

#u100-7,#u100-8,#u100-20,#u100-21,#u100-22,#u100-23,#u100-24,#u100-32
{
	text-align: center;
}

#u100-9,#u100-10,#u100-12,#u100-13,#u100-14,#u100-16,#u100-17,#u100-19,#u100-28,#u100-29,#u100-31
{
	font-style: italic;
}

#buttonu140
{
	z-index: 75;
	width: 231px;
	border-color: #787878;
	background-color: #CACACA;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 290px;
}

#buttonu140:hover
{
	background-color: #545454;
	width: 231px;
	min-height: 0px;
	margin: 122px -10000px 0px 0px;
}

#buttonu140.ButtonSelected
{
	background-color: #CACACA;
	width: 231px;
	min-height: 0px;
	margin: 122px -10000px 0px 0px;
}

#u142-5
{
	z-index: 76;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 56px;
}

#buttonu140:hover #u142-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 17px -10000px 0px 0px;
}

#buttonu140.ButtonSelected #u142-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 17px -10000px 0px 0px;
}

#buttonu140:hover #u142-5 p,#buttonu140:hover #u142-5 a
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu140.ButtonSelected #u142-5 p,#buttonu140.ButtonSelected #u142-5 a
{
	color: #3C3C3C;
	visibility: inherit;
}

#u172-9
{
	z-index: 32;
	width: 920px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 438px;
	left: 20px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -438px;
}

