.version.zg_oszenia /* version checker */
{
	color: #0000FD;
	background-color: #A6537E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 480px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

#u75
{
	z-index: 2;
	width: 128px;
	margin-right: -10000px;
}

#ppu81-3
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 128px;
}

#pu81-3
{
	width: 0.01px;
}

#u81-3
{
	z-index: 4;
	width: 5px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 75px;
}

#u83-6
{
	z-index: 7;
	width: 139px;
	min-height: 42px;
	margin-right: -10000px;
}

#menuu84
{
	z-index: 13;
	width: 246px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 139px;
}

#u85
{
	width: 80px;
	min-height: 34px;
	margin-right: -10000px;
}

#u86
{
	width: 80px;
	padding-bottom: 17px;
}

#u86:hover
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u86:active
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u86.MuseMenuActive
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u88-4
{
	width: 80px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u86:hover #u88-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u86:active #u88-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u86.MuseMenuActive #u88-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u164
{
	width: 81px;
	min-height: 34px;
	margin-right: -10000px;
	left: 82px;
}

#u167
{
	width: 81px;
	padding-bottom: 17px;
}

#u167:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u167:active
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u169-4
{
	width: 81px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u167:hover #u169-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u167:active #u169-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u150
{
	width: 81px;
	min-height: 34px;
	margin-right: -10000px;
	left: 165px;
}

#u153
{
	width: 81px;
	padding-bottom: 17px;
}

#u167.MuseMenuActive,#u153:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u153:active
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u153.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u155-4
{
	width: 81px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u167.MuseMenuActive #u169-4,#u153:hover #u155-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u153:active #u155-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u153.MuseMenuActive #u155-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u157-13
{
	z-index: 41;
	width: 810px;
	min-height: 376px;
	background-color: transparent;
	text-align: center;
	margin-left: 2px;
	position: relative;
}

#u172-9
{
	z-index: 32;
	width: 920px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 438px;
	left: 20px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -438px;
}

