#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__hamburger {
  color: #000000;
}
#header1-1 .btn {
  font-size: 15px;
}
#header1-1 H1 {
  font-size: 48px;
}
#header1-1 P {
  font-size: 22px;
}
#msg-box3-25 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-25 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-23 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-23 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-23 .mbr-article P {
  text-align: center;
}
#menu-20 .mbr-brand__name {
  font-size: 16px;
}
#menu-20.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-20 .mbr-navbar__section {
  background: #000000;
}
#menu-20 .mbr-navbar__hamburger {
  color: #000000;
}
#msg-box2-43 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-43 .mbr-article {
  color: #252525;
  font-size: 24px;
  text-align: center;
}
#menu-38 .mbr-brand__name {
  font-size: 16px;
}
#menu-38.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-38 .mbr-navbar__section {
  background: #000000;
}
#menu-38 .mbr-navbar__hamburger {
  color: #000000;
}
